/*
    @file game.css
    @author Kevin Ma
    @description This file contains the custom css designed for this game
    @date Oct 18 2016
    @version 0.1.0
*/
body {
    background-color: darkgrey;
}

.game {
    width : 80%;
    margin: 0 auto;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    /*HINT: Hide the cursor here */
}